@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background-color: #1cd1b0;
  padding: 0.625rem 0 0.625rem 1.875rem;
}

nav a {
  text-decoration: none;
}

header {
  background-color: #00669f;
  padding: 1.25rem;
  box-shadow: 0px 0.25rem 0.375rem rgba(0, 0, 0, 0.329);
}

h1 {
  margin: 0;
  color: #f0f0f0;
  font-weight: 400;
}

main {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.25rem; /* 20px */
}

.pelota {
  position: absolute;
  right: 0.9375rem;
  top: 43.4375rem;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  background-color: #00669f;
  color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pelota p {
  font-size: 2.5rem;
  font-weight: 300;
}

.tarjeta {
  position: relative;
  width: 18.75rem;
  height: 33.0625rem;
  background-color: #f0f0f0;
  margin: 20px 10px 20px 10px;
  border-bottom: solid rgba(0, 0, 0, 0.1);
  border-radius: 1.5625rem 1.5625rem 0 0;
}

.fondo-tarjeta {
  width: 18.75rem;
  height: 12.0625rem;
  border-radius: 1.5625rem 1.5625rem 0 0;
}

.cuerpo-tarjeta {
  position: relative;
  padding: 1.25rem;
  bottom: 18%;
}

.cuerpo-tarjeta h2 {
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  font-size: 1.5rem;
}

.cuerpo-tarjeta p {
  font-size: 0.8125rem;
}

h2.sin-mayus {
  text-transform: none;
}

.tarjeta:first-child .parrafo-batman {
  display: none;
}

button {
  position: absolute;
  left: 50%;
  bottom: 9%;
  transform: translate(-50%, 50%);
  width: 8.04875rem;
  height: 3.0325rem;
  color: #f3f3f3;
  background-color: #00669f;
  border: none;
  border-radius: 0.4375rem;
}

.avatar-tarjeta,
.avatar-tarjeta-superman {
  top: 50%;
  left: 50%;
  transform: translate(74%, -57%);
  border-radius: 70px;
  width: 120px;
  height: 118px;
}

.avatar-tarjeta2 {
  display: none;
}

.corazon {
  position: absolute;
  top: 0.625rem;
  left: 1.25rem;
  font-size: 1.5rem;
  color: red;
}

footer {
  position: relative;
  color: #fff9f9;
  background-color: #00669f;
  width: 100%;
  padding: 0.9375rem;
  text-align: center;
  height: 2.125rem;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
}

footer p {
  font-size: 1rem;
  margin-top: 0.625rem;
}

footer a {
  position: absolute;
  right: 5%;
  bottom: 20%;
}

footer img {
  width: 100px;
}

@media only screen and (max-width: 600px) {
  .pelota {
    top: 680px;
    right: 35px;
  }

  .tarjeta:last-child {
    display: none;
  }

  .tarjeta:first-child .parrafo-batman-old {
    display: none;
  }

  .tarjeta:first-child .parrafo-batman {
    display: block;
    font-weight: 600;
  }

  footer a {
    position: relative;
    left: -2%;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .avatar-tarjeta-superman {
    content: url("../img/superman2-avatar.png");
  }
}

@media only screen and (min-width: 601px) {
}
